/*
  【色の定義方法】
  ・https://codepen.io/meodai/full/mEvZRx このサイトでカラー名を調べる
  ・(カラーの系統)-(カラー名) に統一する
  ex) #bf13cd
  → $purple-awkward-purple: #bf13cd;
*/

// 黒系
$black: #1b1a1b;
$black-dugong: #707070;

// グレー系
$gray-lightpowdered: #d0d7e9;
$gray-veranda: #9ca4b9;
$gray-pearl: #f6f7fa;
$gray-background: #7070709a;

// 白系
$white: #ffffff;

// 青系
$blue-rain: #4369ca;
$blue-Livid: #6987d5;
$blue-Niagara: #cbe4f0;
$blue-Weather: #65bade;
$blue: #99d3ff;
// 紫
$purple-boysenberry: #f2f2fd;
$purple: #e3e3ff;
// 緑系
$green: #8bf0ce;
// 赤系p
$red-orko: #da1205;
$red-coy: #fff5f4;
$red: #ff9a8f;
// オレンジ系

// 黄色系
$yellow: #ffd36b;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);

$filter-white: rgba(255, 255, 255, 0.65);
