.declaration-container {
  background-color: $green;
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
  > .container {
    border: 1px dashed $white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 18px;
  }
  > .container > .text {
    margin-bottom: 8px;
  }
}
