.form-container {
  margin-top: 48px;
  > .box > .input {
    border: 1px solid gray;
  }
  > .box > .title {
    margin-bottom: 0;
    font-size: 16px;
  }
  > .form {
    position: relative;
    z-index: 1;
  }
}
