.index-container {
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  > .container > .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
