.base-modal {
  background-color: #fff;
  width: 80%;
  max-height: 700px;
  overflow-y: scroll;
  border-radius: 30px;
  > .inner > .header {
    padding: 60px 60px 30px 60px;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: calc(80% - 240px);
    background-color: $white;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  > .inner > .header > .text {
    font-size: 32px;
    font-weight: bold;
  }
  > .inner > .header > .icon {
    margin-left: auto;
  }
  > .inner > .main {
    z-index: 1;
    height: 100%;
    padding-top: 100px; //   ヘッダー固定のため
  }
}
