.base-modal {
  background-color: #fff;
  width: 70%;
  max-height: 700px;
  border-radius: 30px;
  overflow-y: scroll;
  .wrapper {
    height: 100%;
    max-height: 700px;
    border-radius: 30px;
    overflow-y: scroll;
  }
  .wrapper > .inner > .header {
    padding: 60px 60px 30px 60px;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 70%;
    background-color: $white;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    &.-fixed {
      height: auto;
      z-index: 9999;
      padding: 30px 30px 30px 60px;
    }
  }
  .wrapper > .inner > .header > .text {
    font-size: 24px;
    font-weight: bold;
  }
  .wrapper > .inner > .header > .icon {
    margin-left: auto;
  }
  .wrapper > .inner > .main {
    z-index: 1;
    height: 100%;
    padding-top: 100px; //   ヘッダー固定のため
  }
}
