.base-modal {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  > .inner > .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > .inner > .header > .text {
    font-size: 24px;
    font-weight: bold;
  }
  > .inner > .header > .icon {
    margin-left: auto;
  }
}
