.login-container {
  width: 100vh;
  display: flex;
  padding: 0;
  height: 100vh;
  margin: 0;
  width: 100%;

  > .left {
    background-color: $purple;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .left > .image {
    width: 466px;
    height: 420px;
  }
  > .left > .image > .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  > .right {
    padding: 80px;
    width: 100%;
  }
  > .right > .title {
    color: $black-dugong;
    font-size: 32px;
    font-weight: bold;

    &.-mb0 {
      margin-bottom: 0;
    }
  }
  > .right > .text {
    color: $black-dugong;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 330px;
    &.-mb0 {
      margin-bottom: 0;
    }
  }
  > .right > .button {
    display: flex;
    // justify-content: center;
    align-items: center;
  }
}
