.icon-container {
  font-size: 20px;
  margin: 10px 0;
  cursor: pointer;
  &.-red {
    color: red;
    &:hover {
      color: red;
    }
  }
  &.-blue {
    color: blue;
    &:hover {
      color: blue;
    }
  }
  &.-yellow {
    color: yellow;
    &:hover {
      color: yellow;
    }
  }

  &.-green {
    color: green;
    &:hover {
      color: green;
    }
  }
  &.-orange {
    color: orange;
    &:hover {
      color: orange;
    }
  }
  &.-purple {
    color: purple;
    &:hover {
      color: purple;
    }
  }
  &.-indigo {
    color: indigo;
    &:hover {
      color: indigo;
    }
  }
  &.-brown {
    color: brown;
    &:hover {
      color: brown;
    }
  }
  &.-calendar {
    margin: 5px 0;
  }
  &.-button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.-menu {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-dugong;
    width: 18px;
    height: 18px;
  }
  &.-modal {
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.-calendar-item {
    font-size: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
