.user-select-box-container {
}
.v-list-item__title {
  color: $black-dugong !important;
  font-weight: normal !important;
}

.v-list-item {
  cursor: pointer;
  &:hover {
    background-color: $purple !important;
  }
}
.v-application .primary--text {
  color: $blue !important;
  caret-color: $blue !important;
}
.v-input__slot {
  width: 200px !important;
  margin-left: auto !important;
}
