.base-comment-container {
  background-color: $purple-boysenberry;
  border-radius: 8px;
  height: 100vh;
  position: relative;
  width: 500px;

  > .header {
    background-color: $purple-boysenberry;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid $gray-lightpowdered;
    padding: 20px;
    opacity: 0.5;
  }
  > .main {
    height: calc(100% - 160px);
    overflow-y: scroll;
    padding: 8px;
  }
  > .form {
    position: absolute;
    bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 500px;
  }
  > .form > .btn {
    position: absolute;
    right: 30px;
    background-color: $white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
