.markdown-editor {
  &.-white {
    > .markdown-body {
      box-shadow: none !important;
      border: none !important;
      border-radius: 8px !important ;
      z-index: 1;
    }
    .v-show-content {
      padding: 8px 0 !important;
      background-color: $purple-wash !important;
    }
  }
  > .markdown-body {
    box-shadow: none !important;
    border: 1px solid $purple !important;
    border-radius: 8px !important ;
  }
  .v-note-wrapper .v-note-op {
    border-bottom: 1px solid $purple !important;
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
  }
  img {
    width: 50% !important;
    height: 50% !important;
    object-fit: cover !important;
  }
}
.op-icon-divider {
  border-left: 1px solid $purple !important;
}
.v-note-wrapper .v-note-panel .v-note-show .v-show-content {
}
.v-note-wrapper
  .v-note-panel
  .v-note-edit.divarea-wrapper.scroll-style::-webkit-scrollbar {
  background-color: $purple !important;
}
.v-show-content {
  border-bottom-right-radius: 8px;
}
