.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  color: $black-dugong;
  cursor: pointer;
  &:hover {
    background-color: $gray-pearl;
  }
  > .text {
    margin: auto 0 auto 8px;
  }
}
