.app-input {
  border: 1px solid $purple;
  width: 100%;
  padding: 8px;
  height: 40px;
  border-radius: 8px;
  &.-error {
    color: $red-orko;
    background-color: $red-coy;
    border: 1px solid $red-orko;
  }
  &.-textarea {
    height: 100%;
  }
}
