.app-input {
  border: 1px solid $purple;
  width: 100%;
  padding: 8px;
  height: 40px;
  border-radius: 8px;
  background-color: $white;
  &:focus {
    border: 2px solid $blue;
    outline: 0;
  }
  &.-error {
    color: $red;
    background-color: $red-coy;
    border: 2px solid $red !important;
  }
  &.-textarea {
    height: 100%;
    border: 1px solid $green;
  }
}
