.emoji-container {
  display: flex;
  flex-direction: column;
  > .items {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    width: 500px;
    margin-bottom: 40px;
  }
  > .items > .wrapper {
    width: 20px;
    height: 20px;
    margin: 5px;
  }
  > .items > .wrapper > .box {
    width: 20px;
    height: 20px;
  }
  > .form {
    width: 338px;
  }
}
