// 【共通部品】青色ボタン
.common-button {
  position: relative;
  z-index: 1;
  display: block;
  height: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;

  &:disabled {
    background-color: $black-dugong;
  }

  &:hover {
    // color: $white;
    // background-color: $blue-Livid;
    opacity: 0.6;
  }

  &:disabled:hover {
    // background-color: $gray-lightpowdered;
    opacity: 0.6;
  }
  &.-login {
    background-color: $purple;
    width: 560px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
  }
  &.-logout {
    width: 100%;
    height: 60px;
    font-size: 18px;
    background-color: $purple;
  }
  &.-submit {
    background-color: $purple;
    width: 360px;
    height: 60px;
    font-size: 18px;
    &:disabled {
      opacity: 1;
      background-color: $gray-pearl;
    }
    &:hover {
      color: $white;
      background-color: $black-dugong;
    }
  }
  &.-declaration-submit {
    background-color: $green;
    width: 360px;
    height: 60px;
    font-size: 18px;
    &:disabled {
      opacity: 1;
      background-color: $gray-pearl;
    }
    &:hover {
      color: $white;
      background-color: $black-dugong;
    }
  }

  &.-declaration {
    background-color: $white;
    color: $green;
    width: 300px;
    height: 40px;
    font-size: 16px;
    &:hover {
      opacity: 1;
      background-color: $gray-pearl;
    }
  }
  &.-mission {
    background-color: $yellow;
    color: $white;
    width: 360px;
    height: 40px;
    font-size: 16px;
    &:hover {
      opacity: 1;
      background-color: $gray-pearl;
    }
  }
}
