.background-container {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: -200px;
  right: -150px;
  animation-name: my-fade-in;
  animation-duration: 1.5s;
  &.-missions {
    // top: auto;
    // bottom: -250px;
  }
  > .wrapper {
    text-align: center;
    width: 100%;
  }
  > .wrapper > .svg {
    margin: 0 auto;
    width: 700px;
    height: auto;
    &.-missions {
      width: 800px;
    }
  }
  @keyframes my-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
