.common-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 40px 80px 40px 380px;
  opacity: 1;
  > .title > .text {
    font-weight: bold;
    font-size: 32px;
  }
  > .title > .line {
    background-color: $black-dugong;
    height: 3px;
    width: 30px;
    margin-top: 12px;
  }
}
.page-enter {
  opacity: 0;
}
.page-enter-active {
  transition: opacity 0.4s;
  transition-delay: 1200ms;
}
