.sidebar-container {
  > .container {
    position: fixed;
    background-color: $purple-boysenberry;
    height: 100vh;
    width: 300px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 40px 20px;
    z-index: 3;
  }
  > .container > .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  > .container > .top > .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > .container > .top > .image {
    width: 100px;
    height: 100px;
  }
  > .container > .top > .image > .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  > .container > .top > .head > .name {
    margin-top: 24px;
    font-size: 18px;
    font-weight: bold;
  }
  > .container > .top > .date {
    margin-top: 12px;
    font-size: 14px;
  }
  > .container > .middle {
    margin-top: 76px;
  }
  > .container > .btn {
    margin-top: 130px;
  }
  > .sidebar-wrapper {
    &.-z0 {
      z-index: 0;
    }
  }
}
